body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    background-image: url('../img/Wallpaper-Montanas.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    text-align: center;
}
header h1{
    font-size: 3rem;
}
header p{
    font-style: italic;
}
div{
    margin-top: 90px;
}
.boton{
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    margin: 10px;
}
footer{
    text-align: center;
}

