/* .fonts */
@font-face {
    font-family: 'lemon_tuesday';
    src: url(../fonts/lemon_tuesday.ttf);
}

body{
    width: 80%;
    max-width: 1041px;
    margin: 50px auto; 
    background-color: #FFF9F5;
    color:#9B8884;
    font-family: 'Lora', serif;
    height: 100vh;
}

header{
    text-align: center;
}
img.imagen_redonda{
    width:300px;
    height:300px;
    border-radius:150px;
}
h2,footer{
    background-color: #FDB8B6;
    font-family: 'lemon_tuesday', serif;
    font-size: 20px;
    vertical-align: middle;
}

span.negrita{
    font-weight: bold;
}
span.italica{
    font-style: italic;
}

/* .footer */
footer{
    text-align: center;
}