@font-face {
    font-family: 'lemon_tuesday';
    src: url(../fonts/lemon_tuesday.ttf);
}
body{
    width: 80%;
    max-width: 1041px;
    margin: 50px auto; 
    background-color: #FFF9F5;
    color:#9B8884;
    font-family: 'Lora', serif;
}

header{
    background-color: #FFF9F5;
    text-align: center;
}

h2,footer{
    background-color: #FDB8B6;
    font-family: 'lemon_tuesday', serif;
    vertical-align: middle;
}
h2{
    /* font-family: 'Delius Unicase', cursive; */
    
    font-size: 20px;
}

footer{
    text-align: center;
}