/*GENERAL*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*BODY*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

/*PRIMER BANNER*/
#bar-discount {
    background-color: #D1891C;
    display: flex;
    height: 61px;
}

#bar-discount p {
    color: #333333;
    font-size: 48px;
    padding-left: 67px;
}

/*HEADER*/
header {
    background-color: #00669f;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 162px;
    position: sticky;
    top: 0;
    z-index: 2;
}

h1 {
    color: #FFFFFF;
    font-size: 72px;
    padding-left: 67px;
}

.main-div {
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.card {
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 529px;
    margin-right: 32px;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 30px;
}
#background {
    width: 300px;
    height: 193px;
    bottom: 335px;
    position: absolute;
}

#foto-perfil {
    border-radius: 50%;
    position: absolute;
    top: 128px;
    left: 90px;
    z-index: 1;
    height: 120px;
    width: 120px;
}

#like {
    position: absolute;
    top: 15.88px;
    left: 21px;
    z-index: 1;
}

#body {
    background-color: #e5e5e5;
    display:flex;
    width: 300px;
    height: 336px;
    position: absolute;
    top: 192px;
}

h2 {
    position: absolute;
    font-size: 30px;
    text-align: center;
    bottom: 227px;
    left: 89px;
}

.descripcion {
    position: absolute;
    bottom: 104px;
    left: 16px;
}

/*BUTOONS*/
button {
    background-color: #00669f;
    color: white;
    position: absolute;
    bottom: 18.48px;
    left: 85px;
}
button p {
    padding: 15px 37px;
    font-size: 15px;
}

/*FOOTER*/
footer {
    background-color: #00669F;
    padding: 15px 30px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img{
    height: 2rem;
}


@media screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: center;
        gap: 20px;
        footer img{
            height: 1.5rem;
        }
    }
}

@media screen and (max-width: 481px){
    flex-direction: column;
    footer img{
        height: 1rem;
    }
}
    /*header nav ul li{
        display: none;
        visibility: hidden; /*no lo muestra pero sigue ocupando el lugar*/
    
/* header nav ::before{
/* content: 'Hola'; */
/* font-family: 'Font Awesome 5 Free';
/* font-weight: 400; /*Los iconos gratis solo aceptan tamaño 400 o 900*/
/*font-size: 2rem;
content: '\f0c9'; */
